#!/usr/bin/env bash

set -e

start() {
	cd /var/www/.htsecure/comicsbot
	git pull --rebase https://github.com/dotdoom/comicsbot || true
	npm ci
	( npm start |& logger -t comicsbot & )
	echo 'comicsbot started'
}

stop() {
	pkill --exact comicsbot || echo 'comicsbot process not found' >&2
}

restart() {
	stop
	start
}

"$1"
