#!/usr/bin/env bash

set -e

start() {
	vmtouch -d -l -t \
		/var/www/comicslate.org/{conf,lib,data/{index,pages,meta}}
}

stop() {
	pkill --exact vmtouch || echo 'vmtouch process not found' >&2
}

restart() {
	stop
	start
}

"$1"
